@{
    ViewBag.Title = "Home Page";
}
<style>
    body {
        background-color: darkgray;
        color: black;
    }

    .jumbotron {
        margin-top: 50px;
    }

    #sect {
        background-color: darkgoldenrod;
        border: solid 2px black;
        border-radius: 10px;
        margin: 15px;
    }

    .row {
        display: flex;
        justify-content: space-between;
    }

    .item {
        background-color: darkgoldenrod;
        border: solid 1px black;
        padding-left: 110px;
        padding-right: 110px;
    }

    .carousel-inner {
        border:solid 2px black;
        border-radius: 10px;
    }

    .carousel-control {
        border-radius: 10px
    }

    .btn {
        background-color: darkgray;
        color: black;
        border: solid 1px black;
    }


        .btn:hover {
            background-color: black;
            color: gold;
            border: solid 1px black;
        }
</style>
<div class="jumbotron" style="background-color:darkgoldenrod; border:solid 2px black; color:black;">
    <h1>Wrestle Heavy</h1>
    <p class="lead">
        Wrestle Heavy is designed to allow users to create their own wrestlers, wrestling promotions, and championships, store that information, and edit it at any time. They will also eventually be able to compare two wrestlers and find out which would win in a match.
    </p>
</div>

@if (Request.IsAuthenticated)
{
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators-->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner">
        <div class="item active">
            <h2>Get started with a Promotion</h2>
            <p>
                A professional wrestling promotion is a business that regularly performs and manages wrestling events. The promotion sanctions wrestling matches and gives authority to the championships and is responsible for determining divisions, rankings, etc. of the wrestlers. The company serves as a touring theatre troupe, as well as event promotion body for its own events.
            </p>
            <p><a class="btn btn-default" href="https://localhost:44348/Promotion">View Promotions &raquo;</a></p>
        </div>
        <div class="item">
            <h2>Get Acquanted with the Wrestlers</h2>
            <p>Most wrestlers portray character roles, sometimes with personalities wildly different from their own. These personalities are a gimmick intended to heighten interest in a wrestler without regard to athletic ability. Some can be unrealistic (such as Kane or The Undertaker), while others may adopt a more "real" persona (such as Chris Jericho or The Rock).</p>
            <p><a class="btn btn-default" href="https://localhost:44348/Wrestler">View Wrestlers &raquo;</a></p>
        </div>
        <div class="item">
            <h2>Title Showcase</h2>
            <p>Championships are the prized possessions of any wrestler. Some wrestle to gain fame, some for fortune, but all can agree that the best way to attain either, so to claim a title belt. Titles can be designed around any kind of wrestler, with the most popular being claimed by the most proficient in-ring wrestler. There are also some made for tag teams and cruiserweights.</p>
            <p><a class="btn btn-default" href="https://localhost:44348/Title">View Titles &raquo;</a></p>
        </div>
    </div>

    <!--Left and right controls-->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
}
else
{
    <div class="row">
        <div class="col-md-5" id="sect">
            <h2> Register</h2>
            <p>In order to use Wrestle Heavy, please click on the button below to register.</p>
            <p><a class="btn btn-default" href="https://localhost:44348/Account/Register">Register &raquo;</a></p>
        </div>
        <div class="col-md-5" id="sect">
            <h2>Login</h2>
            <p>Already a member of Wrestle Heavy? Go ahead and click the button below to login.</p>
            <p><a class="btn btn-default" href="https://localhost:44348/Account/Login">Login &raquo;</a></p>
        </div>
    </div>
}