@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Wrestle Heavy</h1>
    <p class="lead">
        Wrestle Heavy is designed to allow users to create their own wrestlers, wrestling promotions, and championships, store that information, and edit it at any time. They will also be able to compare two wrestlers and find out which would win in a match.
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Get started with a Promotion</h2>
        <p>
            A professional wrestling promotion is a business that regularly performs and manages wrestling events. The promotion sanctions wrestling matches and gives authority to the championships and is responsible for determining divisions, rankings, etc. of the wrestlers. The company serves as a touring theatre troupe, as well as event promotion body for its own events.
        </p>
        <p><a class="btn btn-default" href="https://localhost:44348/Promotion">View Promotions &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>